/*
style.css for ATiM2

        written by:
        * julian at visuallizard dot com
        * ross at visuallizard dot com
        * wil at visuallizard dot com 
        
        (c) 2010  - visuallizard.com and CTRNET
*/

/* reset everything so we can proceed as needed */
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
	tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
	legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
	min-width: 1170px;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -= body and general styles =- */
body {
	margin: 0;
	padding: 0;
	font: 11px/1.2em "Lucida Grande", Futura, Helvetica, Arial, Verdana,
		sans-serif;
}

div.outerWrapper div.wrapper {
	clear: both;
	margin: 0 10px 10px 10px;
	background-color: #fff;
	border: 1px solid #243340;
	border-color: #243340;
	border-top: none;
	border-radius: 0 0 5px 5px;
	padding: 0;
}

div.outerWrapper {
	min-height: 300px;
}

fieldset.mainFieldset {
	min-width: 100%;
	display: inline-block;
	background-color: #f2f2ff;
}

#header {
	position: relative;
	margin: 0 0 10px 0;
	padding: 5px 10px 0 10px;
	border: none;
	border-bottom: 1px solid #000;
	background: #243340 url(../img/icons/other/body_bk_02.png) bottom left repeat-x;
	color: #fff;
}

#header div {
	width: 725px;
	height: 64px;
	padding: 14px 0 7px 225px;
	margin: 0;
	font: normal 26px/1em "Arial Black", Arial, Impact, sans-serif;
	background: url(../img/icons/other/header_bk_new_01.png) bottom left no-repeat;
}

#header h1 {
    white-space: nowrap;
}

#header h2 {
	white-space: nowrap;
	font-size: 85%;
	margin-top: 10px;
}

#header h2.prod{
    color: white;
}

#header h2.test{
    color: red;
}

/*div.wrapper div:not(.browsable.info){*/
/*margin:0;*/
/*padding:0;*/
/*border:0;*/
/*}*/
p {
	margin: 1em 0;
}

a {
	color: #5081a5;
}

.not_allowed {
	cursor: not-allowed;
}

.required {
	background-color: #ffc;
}

.validation {
	background-color: #DFD;
}

.readonly {
	background-color: #f3f3f9;
	color: #889;
}

.error, .form-error {
	background-color: #fcc;
}

.hidden {
	display: none;
}

div.submitBar {
	padding: 5px 5px;
	line-height: 25px;
	background-color: #F2F2FF;
	text-align: right;
	height: 32px;
}

div.flyOverSubmit {
	position: relative;
}

/* actions, links */
div.actions {
	position: relative;
	height: 35px;
	font-size: 11px;
	color: #bbf;
	background: #dde8f2;
	border-radius: 0 0 5px 5px;
	padding: 6px 0 0 10px;
	white-space: nowrap;
	margin: 0px;
	min-height: 0px;
	line-height: 25px;
}

div.bottom_button {
	background: url(../img/icons/other/btnBack.png);
	border-color: #999999;
	border-style: solid;
	border-width: 1px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 5px;
	display: inline-block;
	height: 25px;
	position: relative;
	text-shadow: #AAA 2px 2px 2px;
}

div.bottom_button:first-child {
	border-radius: 5px 0 0 5px;
}

div.bottom_button:last-child {
	border-radius: 0 5px 5px 0;
}

div.bottom_button:only-of-type, div.actions.split div.bottom_button {
	border-radius: 5px;
	margin: 0 3px 0 3px;
}

div.bottom_button a {
	font-size: 12px;
	text-decoration: none;
	background-position: 8px center;
	padding: 5px 6px 4px 6px;
	color: #000;
	/*line-height: 15px;*/
	border-radius: 3px;
}

div.bottom_button a:focus {
	text-decoration: underline;
}

div.bottom_button:not (.not_allowed ):hover, div.bottom_button:not (.not_allowed
 ):focus {
	border-color: #000;
	background-image: url("../img/icons/other/btnBackSel.png");
}

div.bottom_button a.not_allowed {
	color: #aad;
}

div.bottom_button a.search_results {
	background-position: 7px center;
	padding: 5px 10px 5px 25px;
	min-height: 15px;
	position: relative;
	left: 0px;
	top: 0px;
}

p.bottom_button_load {
	background: url(../img/icons/other/btnBack.png);
	border-color: #999999;
	border-style: solid;
	border-width: 1px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 5px;
	display: none;
	height: 25px;
	position: relative;
	text-shadow: #AAA 2px 2px 2px;
}

p.bottom_button_load:first-child {
	border-radius: 5px 0 0 5px;
}

p.bottom_button_load:last-child {
	border-radius: 0 5px 5px 0;
}

p.bottom_button_load:only-of-type, div.actions.split div.bottom_button {
	border-radius: 5px;
	margin: 0 3px 0 3px;
}

p.bottom_button_load a {
	font-size: 12px;
	text-decoration: none;
	background-position: 8px center;
	padding: 5px 6px 4px 6px;
	color: #000;
	line-height: 15px;
	border-radius: 3px;
}

p.bottom_button_load a:focus {
	text-decoration: underline;
}

p.bottom_button_load:not (.not_allowed ):hover, div.bottom_button_load:not (.not_allowed
 ):focus {
	border-color: #000;
	background-image: url("../img/icons/other/btnBackSel.png");
}

p.bottom_button_load a.not_allowed {
	color: #aad;
}

p.bottom_button_load a.search_results {
	background-position: 7px center;
	padding: 5px 10px 5px 25px;
	min-height: 15px;
	position: relative;
	left: 0px;
	top: 0px;
}

a.not_allowed.treeButton {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 2px 0 2px;
}
/*===========================================================*
        -= popup filter menu 
*===========================================================*/
div.filter_menu {
	display: none;
	position: absolute;
	/*min-width: 400px*/;
	bottom: 32px;
	left: 0px;
	margin: 0;
	padding: 15px 2px;
	border: 0;
	overflow: visible;
	line-height: 14px;
	background: #374d61;
	text-align: left;
	border-radius: 10px;
	z-index: 1000;
}

div.filter_menu.scroll {
	padding: 4px 2px;
}

div.filter_menu div.arrow {
	position: absolute;
	bottom: -13px;
	height: 13px;
	width: 100%;
}

div.filter_menu div.arrow span {
	position: absolute;
	left: 0px;
	width: 76px;
	height: 13px;
	display: inline-block;
	background: url("../img/icons/other/filter-arrow-down.png") center center no-repeat;
}

div.filter_menu div.menuContent {
	border-radius: 0;
	background: #486680;
	overflow: hidden;
	border: none;
	padding: 0;
	margin: 0;
	max-height: 203px;
	/*width: 200px*/;
	position: relative;
}

div.filter_menu div ul {
	border-radius: 0px;
	background: #486680;
}

div.filter_menu.scroll div.menuContent {
	height: 197px;
}

div.filter_menu.scroll div ul {
	top: 0;
	padding: 11px 0;
	position: relative;
}

div.filter_menu span.up {
	position: absolute;
	display: block;
	top: 2px;
	left: 0px;
	background: rgb(55, 77, 97); /* primary background for IE */
	background: rgba(55, 77, 97, 0.8);
	width: 100%;
	height: 15px;
	border-radius: 10px 10px 0 0;
}

div.filter_menu span.down {
	position: absolute;
	display: block;
	bottom: 0px;
	left: 0px;
	background: rgb(55, 77, 97); /* primary background for IE */
	background: rgba(55, 77, 97, 0.8);
	width: 100%;
	height: 15px;
	border-radius: 0 0 10px 10px;
}

div.filter_menu a.up {
	position: absolute;
	display: block;
	padding: 3px 0;
	margin: 0;
	top: 0px;
	height: 12px;
	width: 100%;
	color: #ccc;
	text-align: center;
	font-size: 125%;
}

div.filter_menu a.down {
	position: absolute;
	display: block;
	padding: 0;
	margin: 0;
	bottom: 0px;
	width: 100%;
	height: 18px;
	color: #ccc;
	text-align: center;
	font-size: 125%;
}

div.filter_menu div ul {
	max-width: 100%; /* IE gymnastic */
}

div.filter_menu div ul li {
	white-space: nowrap;
	width: 100%;
	min-width: 200px;
	padding: 0;
	margin: 0;
	border: 0;
	border-top: 1px dotted #374d61;
	background: none;
	color: #999;
}

div.filter_menu div ul li a {
	color: #fff;
	display: none;
	border-radius: 0;
}

div.filter_menu div ul li.count_0 {
	border-top: 1px solid #374d61;
	margin: 0;
	border-top-left-radius: 5px;
}

div.filter_menu div ul li.count_last_line {
	margin: 0;
	border-radius: 0 0 5px 5px;
}

div.filter_menu div ul li a {
	background-color: #486680;
	line-height: 19px;
	float: none;
	display: block;
	text-transform: none;
	font-weight: normal;
	font-size: 11px;
	cursor: pointer;
}

div.filter_menu div ul li a:hover {
	background-color: #283b4a;
	color: #fff;
}

div.actions a.not_allowed {
	color: #999;
	cursor: not-allowed;
}
/*===========================================================*
        -=header menu/user 
*===========================================================*/
ul.root_menu_for_header, ul.main_menu_for_header {
	position: absolute;
	right: 15px;
	padding: 0;
	margin: 0;
	list-style: none;
	border: none;
}

/*===========================================================*
        -=position for toolbox rows 
*===========================================================*/
ul.root_menu_for_header {
	top: 0;
}

ul.main_menu_for_header {
	top: 45px;
}

/*===========================================================*
        -=paired / shared selectors for toolbox 
*===========================================================*/
ul.root_menu_for_header li, ul.main_menu_for_header li {
	display: inline-block;
	width: 40px;
	height: 40px;
	text-decoration: none;
}

ul.root_menu_for_header li a, ul.main_menu_for_header li a {
	margin: 4px;
	display: inline-block;
	width: 32px;
	height: 32px;
	text-decoration: none;
}

.sub_menu_for_header li {
	margin: 0 3px 0 3px;
}

.sub_menu_for_header {
	position: absolute;
	border-radius: 10px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	z-index: 1;
	display: none;
	background-color: #628cae;
	width: 203px;
	top: 40px;
	right: -10px;
	padding-top: 3px;
	background: -webkit-gradient(linear, left top, left bottom, from(#628cae),
		color-stop(50%, #7aaed8), to(#628cae)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #628cae, #7aaed8, #628cae);
        
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0.5s, opacity 0.5s, z-index 0.5s;
    transition: visibility 0.5s, opacity 0.5s, z-index 0.5s;
    
}

ul.main_menu_for_header>li:hover .sub_menu_for_header {
    z-index: 2;
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 0.5s, opacity 0.5s linear, z-index 0.5s;
    transition: visibility 0.5s, opacity 0.5s linear, z-index 0.5s;
    display: block;
}

.root_menu_for_header li:hover {
	background-image: url("../img/icons/toolbox_top_bk01.png");
}

.main_menu_for_header li:hover {
	background-image: url("../img/icons/toolbox_bot_bk01.png");
}

ul.root_menu_for_header li.not_allowed, ul.main_menu_for_header li.not_allowed
	{
	color: #aaa;
}

/* others here */
p#user_for_header {
	position: absolute;
	top: 20px;
	right: 0;
	padding: 0;
	margin: 0 30px 0 0;
	font-size: 14px;
	/* font-weight: bold; */
	color: #fff;
}

p#user_for_header span {
	font-size: 11px;
	font-weight: normal;
	color: #ccc;
}

/*===========================================================*
        -=menus
*===========================================================*/
div#menu {
	background: none;
	border: 0;
	border-bottom: 1px solid #243340;
	padding: 0;
	min-height: 50px;
	margin: 10px 10px 0 10px;
}

div.menu.level_0, .menuSubTitle {
	position: relative;
	list-style-type: none;
	padding: 0;
	min-height: 40px;
	margin: 0 10px 0 0;
	border: 0;
	background: 0;
	font-size: 11px;
	line-height: 1.2em;
	color: #ccf;
}

div.menu.level_0 .at span.mainTitle {
	color: #fff;
	/* font-weight: bold; */
	font-size: 14px;
	text-decoration: none;
	/* text-transform: uppercase; */
}

/* -=main menu above the large content area */
div.menu ul {
	float: left;
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none;
	background: #486680 url(../img/icons/other/count_0_bk.png) right top no-repeat;
}

div.menu ul li {
	position: relative;
	float: left;
	height: 28px;
	padding: 8px 10px 5px 25px;
	background: #374D61 url(../img/icons/other/breadcrumb_separator.png) left center
		no-repeat;
}

div.menu ul li.count_0 {
	background-color: transparent;
}

div.menu ul li.root, div.menu ul li.count_0.root {
	background: #293B49 url(../img/icons/main_menu_root_0_bk_arrow_01.png)
		no-repeat right center;
	margin-top: -10px;
	margin-right: -13px;
	height: 40px;
	padding: 4px 20px 5px 10px;
	z-index: 10;
	border-top-left-radius: 5px;
}

div.menu ul.total_count_0 li.root, div.menu ul.total_count_1 li.root {
	background: #293B49 url(../img/icons/main_menu_root_0_bk_arrow.png)
		no-repeat right center;
}

div.menu ul.total_count_2 li.root {
	background: #293B49 url(../img/icons/main_menu_root_0_bk_arrow_02.png)
		no-repeat right center;
}

div.menu ul li.root a {
	display: block;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	padding: 5px 0 5px 0px;
	background-position: left center;
}

div.menu.level_1 {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.4s linear;
	top: 40px;
	left: 10px;
	position: absolute;
	background: #374D61;
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0 0 5px 5px;
	z-index: 100;
}

div.menu li.count_0 div.menu.level_1 {
	background: #486680;
}

div.menu.level_0 li:hover div.menu.level_1 {
    visibility: visible;
    opacity: 1;
}

div.menu.level_1 ul {
	margin: 10px 0;
	padding: 0;
	border: 0;
	background: none;
}

div.menu.level_1 li {
	background: none;
	margin: 0;
	border: 0;
	height: auto;
	padding: 0;
	border-top: 1px dotted #999;
}

div.menu.level_1 li.not_allowed {
	background-color: #41515f;
	color: #99a;
}

div.menu.level_1 li a {
	font-weight: normal;
	text-transform: none;
	text-decoration: none;
	color: #dde8f2;
	font-size: 11px;
	line-height: 1.1em;
	padding: 4px 10px;
	display: inline-block;
	min-width: 200px;
}

div.menu.level_1 li:hover {
	background-color: #293B49;
	color: #fff;
}

div.menu.level_1 li:hover a:not(.not_allowed)
{
    text-decoration:underline;
    color:#fff;
}
div.menu.level_1 li.not_allowed:hover {
	background-color: #41515f;
	border-top: 1px solid #ccc;
}

/*===========================================================*
        -= summary styles
*===========================================================*/
div.menu ul#summary {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0 -10px 0 0;
	padding: 0;
	background: none;
	cursor: help;
}

div.menu ul#summary li {
	background: none;
	padding: 0;
	margin: 0;
}

.summaryBtn {
	position: relative;
	display: block;
	/* font-weight: bold; */
	font-size: 12px;
	/* text-transform: uppercase; */
	text-decoration: none;
	color: #fff;
	margin-top: 5px;
	padding: 28px 10px 5px 12px;
	background: url("../img/icons/summary_icon_bk.png") no-repeat left
		bottom;
}

div.menu ul#summary li:hover span {
	color: #fff;
}

div.menu ul#summary li ul {
	display: none;
	top: 45px;
	right: 20px;
	position: absolute;
	background: #293B49;
	margin: 0;
	padding: 10px;
	z-index: 1000;
	border-radius: 7px 0 7px 7px;
}

div.menu ul#summary:hover li ul {
	display: block;
}

div.menu ul#summary ul li {
	width: 300px;
	margin: 0;
	padding: 5px 10px 15px 10px;
	border: 0;
	border-top: 1px dotted #eee;
	background: none;
	color: #fff;
	height: auto;
}

div.menu ul#summary ul li.count_0 {
	border: 0;
}

div.menu ul#summary ul li a {
	float: none;
	font-weight: normal;
	text-transform: none;
	color: #fff;
}

div.menu ul#summary ul li dl {
	display: block;
	clear: both;
}

div.menu ul#summary ul span.list_header {
	display: block;
	margin: 0.25em 0 0.5em 0;
	font-size: 1.5em;
	color: #fff;
	padding-bottom: 10px;
}

div.menu ul#summary ul dl dt {
	margin: 0;
	padding: 0.25em 0;
	display: inline;
	clear: both;
	float: left;
	width: 50%;
	color: #EEE;
	border-top: 1px solid #374D61;
}

div.menu ul#summary ul dl dd {
	margin: 0;
	padding: 0.25em 0;
	display: inline;
	float: right;
	text-align: right;
	width: 50%;
	color: #ccc;
	border-top: 1px solid #374D61;
}
/*===========================================================*
        -= tables and forms
*===========================================================*/
span.tag {
	font-size: 100%;
	font-weight: bold;
}

span.help {
	position: relative;
	display: block;
	color: #99c;
	text-indent: -9999px;
	cursor: help;
	line-height: 20px;
}

span.help.error, span.help.error:hover {
	/* background: none; */
	color: #ccd;
	font-weight: normal;
	cursor: default;
	filter: alpha(opacity = 30);
	opacity: 0.3;
}

div.error-message {
	display: none;
}

div.wrapper span.help div {
	display: none;
	white-space: normal;
}

div.wrapper th span.help.right:hover div {
	left: 10px;
	border-radius: 0 15px 15px 15px;
}

div.wrapper span.help:hover div {
	display: block;
	text-indent: 0;
	top: 10px;
	right: 10px;
	position: absolute;
	width: 300px;
	padding: 8px 20px 8px 12px;
	width: 270px;
	background: #486680;
	color: #ccc;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	line-height: 1.3em;
	border-radius: 15px 0 15px 15px;
	z-index: 200;
}

div.wrapper span.help div p {
	margin: 0 0 1em 0;
}

div.wrapper th.column_1 span.help div {
	top: 10px;
	left: 10px;
	border-radius: 0 15px 15px 15px;
}

/* -= table.structure =- */
div.wrapper table.structure {
	width: 100%;
	margin: 0;
	background-color: #fff;
	padding: 10px 0;
}

div.wrapper table.structure tr.pagination th {
	text-align: center;
}

div.wrapper table.structure td {
	vertical-align: top;
	padding: 10px 0;
}

div.wrapper table.structure td.label {
	font-weight: bold;
	color: #000;
	white-space: nowrap;
	width: 15%;
}

div.wrapper table.structure td.content {
	color: #666;
}

div.wrapper table.structure td.help {
	text-align: right;
	padding: 3px 10px 0 0;
	width: 20px;
}

div.wrapper table.structure td.total_columns_1 {
	width: 100%;
}

div.wrapper table.structure td.total_columns_2 {
	width: 50%;
}

div.wrapper table.structure td.total_columns_3 {
	width: 33%;
}

div.wrapper table.structure td.total_columns_4 {
	width: 25%;
}

div.wrapper table.structure td.total_columns_5 {
	width: 20%;
}

div.wrapper div.message:not([id= "authMessage"]) {
	padding: 1em;
	border-right: 1px solid #374D61;
	border-left: 1px solid #374D61;
	background-color: #f00;
	color: #fff;
}

div.wrapper table.columns.index td, div.wrapper table.columns.detail td
	{
	padding: 0.5em 1em;
	border-top: 1px solid #eaedf2;
}

.descriptive_heading h4, .descriptive_heading p {
	background-color: #DDE8F2;
}

.std_popup.question h4, .std_popup.question p {
	background-color: #f2f2f2;
}

.descriptive_heading h4, .std_popup.question h4 {
	margin: 0 0 0 0;
	padding: 1em 1em 0.25em 1em;
	font-size: 14px;
	font-weight: bold;
	color: #2d5069;
}

.descriptive_heading p, .std_popup.question p {
	margin: 0 0 0 0;
	padding: 0 1em 1em 1em;
	color: #2d5069;
}

div.wrapper table.structure table td.heading {
	padding-bottom: 0.5em;
	border-top: 0;
	border-bottom: 2px solid #eaedf2;
}

div.wrapper table.structure table td.heading h4, div.heading_mimic h4 {
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	color: #5081a5;
	margin: 0;
}

div.heading_mimic {
	padding-left: 1em;
	border-bottom: 3px solid #eaedf2;
}

div.wrapper table.structure td.this_column_2, div.wrapper table.structure td.this_column_3,
	div.wrapper table.structure td.this_column_4, div.wrapper table.structure td.this_column_5
	{
	border-left: 10px solid #fff;
}

/* -= table.structure table.columns */
div.wrapper table.structure table.columns {
	width: 100%;
	padding: 0;
	margin: 0 1em 0 0;
	text-align: left;
}

div.wrapper table.structure table.columns thead th {
	vertical-align: bottom;
	font-weight: normal;
	font-size: 13px;
}

div.indexLangHeader {
	margin: 0 4px;
	text-align: center;
	padding: 0.4em;
}

div.wrapper table.structure table.columns thead tr:last-child th {
	text-align: left;
	border-bottom: 2px solid #eaedf2;
	padding: 0.25em 1em;
}

div.wrapper table.structure table.columns th a {
	text-decoration: none;
}

div.wrapper table.structure table.columns th a:hover {
	text-decoration: underline;
}

div.wrapper table.structure table.columns th span.help {
	display: inline;
	text-indent: -9999px;
	cursor: help;
	line-height: 20px;
	margin-left: 0.5em;
	max-width: 16px;
}

div.wrapper table.structure table.columns td {
	vertical-align: top;
	line-height: 14px;
	color: #444;
}

ul.big_announcements {
	list-style: none;
	border-top: 3px solid #eaedf2;
	border-bottom: 2px solid #eaedf2;
	margin: 0;
	padding: 0;
}

ul.big_announcements li {
	line-height: 25px;
	border-bottom: 1px solid #eaedf2;
}

ul.big_announcements li a {
	display: block;
	padding: 7px 5px 8px 5px;
	text-decoration: none;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.1em;
}

ul.big_announcements li a span {
	display: block;
	font-weight: normal;
	font-size: 11px;
	line-height: 1.1em;
}

ul.big_menu {
	list-style: none;
	border-top: 3px solid #eaedf2;
	border-bottom: 2px solid #eaedf2;
	margin: 0;
	padding: 0;
}

ul.big_menu li {
	line-height: 25px;
	border-bottom: 1px solid #eaedf2;
}

ul.big_menu li:hover, ul.big_announcements li:hover {
	background: -webkit-gradient(linear, left top, right top, from(#ffe),
		color-stop(50%, #ffc), to(#ffe)); /* for webkit browsers */
	background: -moz-linear-gradient(left, #ffe, #ffc, #ffe);
	background: #ffe;
        -webkit-transition: background 0.2s linear;
        transition: background 0.2s linear;
}

ul.big_menu li a {
	display: block;
	padding: 7px 5px 8px 7px;
	text-decoration: none;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.1em;
}

ul.big_menu li a span.menuDesc {
	display: block;
	font-weight: normal;
	font-size: 11px;
	line-height: 1.1em;
}

ul#big_menu_main a, ul#big_menu_tools a {
	background-position: left center;
}

ul.big_menu li a:hover {
	text-decoration: underline;
}

div.wrapper table.structure table.columns td div p {
	margin: 0;
}

div.wrapper table.structure table.content {
	padding: 0 0 1em 0;
}

div.wrapper table.structure table.content td {
	border-top: none;
	padding: 1em;
}

div.wrapper table.structure table.columns.tree td {
	padding: 0.25em 0 0 0;
	border-top: 3px solid #eaedf2;
	border-bottom: 2px solid #eaedf2;
}

div.wrapper table.structure table.columns.tree ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div.wrapper table.structure table.columns.tree ul li {
	text-align: left;
	vertical-align: top;
	padding: 3px 0 2px 3px;
	line-height: 16px;
	border-bottom: 1px solid #cacdf2;
}

div.wrapper table.structure table.columns.tree span.divider {
	font-size: 120%;
	font-weight: bolder;
}

ul.tree_root ul {
	border-left: dotted 1px black;
}

ul.tree_root:first-child li {
	background-color: #fff;
}

div.nodeBlock {
	margin-left: -5px;
	vertical-align: top;
	position: relative;
}

div.nodeBlock .leftPart {
	float: left;
}

div.nodeBlock .rightPart {
	margin-left: 33px;
}

div.nodeBlock .rightPart.disabled {
	color: grey;
}

div.nodeBlock .rightPart.sample_disabled {
	color: grey;
	font-style: italic;
}

div.at, tr.at {
	background-color: #ffc;
}

div.treeArrow {
	position: absolute;
	height: 0px;
	right: -10px;
	top: 0px;
	border-left: 8px solid black;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	display: none;
}

ul.tree_root li a.reveal {
	display: inline-block;
	margin: 0 2px;
	text-indent: -9999px;
	vertical-align: top;
}

ul.tree_root li a.reveal.not_allowed {
	filter: alpha(opacity = 30);
	opacity: 0.3;
}

.floatLeft {
	float: left;
}

a.form {
	padding: 1px 0px 1px 16px;
}

/*===========================================================*
        -= ICONS
*===========================================================*/

/*0*/
.icon16.reveal.fetching, .icon16.fetching {
	background: url("../img/icons/other/wait16.gif");
	background-position: 0 0 !important;
}

.icon16.default {
    /*background-position: 0 0;*/
    background: url("../img/icons/small/default.png") no-repeat;
    background-size: cover;
}

.icon16.create_shipment {
    /*background-position: 0 -16px;*/
    background: url("../img/icons/small/create_shipment.png") no-repeat;
    background-size: cover;
}

.icon16.grid {
    /*background-position: 0 -32px;*/
    background: url("../img/icons/small/grid.png") no-repeat;
    background-size: cover;
}

.icon16.reveal {
    /*background-position: 0 -48px;*/
    background: url("../img/icons/small/reveal.png") no-repeat;
    background-size: cover;
}

.icon16.copy {
    /*background-position: 0 -64px;*/
    background: url("../img/icons/small/copy.png") no-repeat;
    background-size: cover;
}

.icon16.participant.messages {
    /*background-position: 0 -96px;*/
    background: url("../img/icons/small/participant.messages.png") no-repeat;
    background-size: cover;
}

.icon16.access_to_data {
    /*background-position: 0 -112px;*/
    background: url("../img/icons/small/access_to_data.png") no-repeat;
    background-size: cover;
}

.icon16.data_diff {
    /*background-position: 0 -128px;*/
    background: url("../img/icons/small/data_diff.png") no-repeat;
    background-size: cover;
}

.icon16.tma.slide.use{
    /*background-position: 0px -144px;*/
    background: url("../img/icons/small/tma.slide.use.png") no-repeat;
    background-size: cover;
}

.icon16.tma.slide.uses {
    /*background-position: 0px -144px;*/
    background: url("../img/icons/small/tma.slide.uses.png") no-repeat;
    background-size: cover;
}

.icon16.customize {
    /*background-position: 0 -160px;*/
    background: url("../img/icons/small/customize.png") no-repeat;
    background-size: cover;
}



/*16*/
.icon16.not_allowed{
    /*background-position: -16px 0;*/
    background: url("../img/icons/small/not_allowed.png") no-repeat;
    background-size: cover;
}

.icon16.warning {
    /*background-position: -16px 0;*/
    background: url("../img/icons/small/warning.png") no-repeat;
    background-size: cover;
}

.icon16.shipping{
    /*background-position: -16px -16px;*/
    background: url("../img/icons/small/shipping.png") no-repeat;
    background-size: cover;
}

.icon16.shipments {
    /*background-position: -16px -16px;*/
    background: url("../img/icons/small/shipments.png") no-repeat;
    background-size: cover;
}

.icon16.storage{
    /*background-position: -16px -32px;*/
    background: url("../img/icons/small/storage.png") no-repeat;
    background-size: cover;
}

.icon16.storages{
    /*background-position: -16px -32px;*/
    background: url("../img/icons/small/storages.png") no-repeat;
    background-size: cover;
}

.icon16.form.plugin.storagelayout {
    /*background-position: -16px -32px;*/
    background: url("../img/icons/small/form.plugin.storagelayout.png") no-repeat;
    background-size: cover;
}

.icon16.range {
    /*background-position: -16px -48px;*/
    background: url("../img/icons/small/range.png") no-repeat;
    background-size: cover;
}

.icon16.link {
    /*background-position: -16px -80px;*/
    background: url("../img/icons/small/link.png") no-repeat;
    background-size: cover;
}

.icon16.edit {
    /*background-position: -16px -96px;*/
    background: url("../img/icons/small/edit.png") no-repeat;
    background-size: cover;
}

.icon16.redo {
    /*background-position: -16px -112px;*/
    background: url("../img/icons/small/redo.png") no-repeat;
    background-size: cover;
}

.icon16.order.line {
    /*background-position: -16px -128px;*/
    background: url("../img/icons/small/order.line.png") no-repeat;
    background-size: cover;
}

.icon16.order.items.returned {
    /*background-position: -16px -144px;*/
    background: url("../img/icons/small/order.items.returned.png") no-repeat;
    background-size: cover;
}

.icon16.charts {
    /*background-position: -16px -160px;*/
    background: url("../img/icons/small/charts.png") no-repeat;
    background-size: cover;
}


/*32*/
.icon16.confirm {
    /*background-position: -32px 0;*/
    background: url("../img/icons/small/confirm.png") no-repeat;
    background-size: cover;
}

.icon16.add_to_shipment {
    /*background-position: -32px -16px;*/
    background: url("../img/icons/small/add_to_shipment.png") no-repeat;
    background-size: cover;
}

.icon16.slide {
    /*background-position: -32px -32px;*/
    background: url("../img/icons/small/slide.png") no-repeat;
    background-size: cover;
}

.icon16.filter {
    /*background-position: -32px -48px;*/
    background: url("../img/icons/small/filter.png") no-repeat;
    background-size: cover;
}

.icon16.paste {
    /*background-position: -32px -64px;*/
    background: url("../img/icons/small/paste.png") no-repeat;
    background-size: cover;
}

.icon16.summary {
    /*background-position: -32px -64px;*/
    background: url("../img/icons/small/summary.png") no-repeat;
    background-size: cover;
}

.icon16.enabled {
    /*background-position: -32px -80px;*/
    background: url("../img/icons/small/enabled.png") no-repeat;
    background-size: cover;
}

.icon16.template {
    /*background-position: -32px -96px;*/
    background: url("../img/icons/small/template.png") no-repeat;
    background-size: cover;
}

.icon16.cancel {
    /*background-position: -32px -112px;*/
    background: url("../img/icons/small/cancel.png") no-repeat;
    background-size: cover;
}

.icon16.treatment.precision {
    background-position: -32px -128px;
    background: url("../img/icons/small/treatment.precision.png") no-repeat;
    background-size: cover;
}

.icon16.order.line.add{
    /*background-position: -32px -144px;*/
    background: url("../img/icons/small/order.line.add.png") no-repeat;
    background-size: cover;
}

.icon16.order.lines.add {
    /*background-position: -32px -144px;*/
    background: url("../img/icons/small/order.lines.add.png") no-repeat;
    background-size: cover;
}

.icon16.load-search {
    /*background-position: -32px -160px;*/
    background: url("../img/icons/small/load-search.png") no-repeat;
    background-size: cover;
}


/*48*/
.icon16.delete {
    /*background-position: -48px 0;*/
    background: url("../img/icons/small/delete.png") no-repeat;
    background-size: cover;
}

.icon16.drug {
    /*background-position: -48px -16px;*/
    background: url("../img/icons/small/drug.png") no-repeat;
    background-size: cover;
}

.icon16.order {
    /*background-position: -48px -32px;*/
    background: url("../img/icons/small/order.png") no-repeat;
    background-size: cover;
}

.icon16.quality.controls {
    /*background-position: -48px -48px;*/
    background: url("../img/icons/small/quality.controls.png") no-repeat;
    background-size: cover;
}

.icon16.duplicate {
    /*background-position: -48px -64px;*/
    background: url("../img/icons/small/duplicate.png") no-repeat;
    background-size: cover;
}

.icon16.disabled {
    /*background-position: -48px -80px;*/
    background: url("../img/icons/small/disabled.png") no-repeat;
    background-size: cover;
}

.icon16.annotation {
    /*background-position: -48px -96px;*/
    background: url("../img/icons/small/annotation.png") no-repeat;
    background-size: cover;
}

.icon16.detail {
    /*background-position: -48px -112px;*/
    background: url("../img/icons/small/detail.png") no-repeat;
    background-size: cover;
}

.icon16.remove.flag.returned {
    /*background-position: -48px -144px;*/
    background: url("../img/icons/small/remove.flag.returned.png") no-repeat;
    background-size: cover;
}

.icon16.reset-search {
    /*background-position: -48px -160px;*/
    background: url("../img/icons/small/reset-search.png") no-repeat;
    background-size: cover;
}



/*64*/
.icon16.info {
    /*background-position: -64px 0;*/
    background: url("../img/icons/small/info.png") no-repeat;
    background-size: cover;
}

.icon16.disk {
    /*background-position: -64px -16px;*/
    background: url("../img/icons/small/disk.png") no-repeat;
    background-size: cover;
}

.icon16.submit {
    /*background-position: -64px -16px;*/
    background: url("../img/icons/small/submit.png") no-repeat;
    background-size: cover;
}

.icon16.treatments {
    /*background-position: -64px -32px;*/
    background: url("../img/icons/small/treatments.png") no-repeat;
    background-size: cover;
}

.icon16.search_results {
    /*background-position: -64px -48px;*/
    background: url("../img/icons/small/search_results.png") no-repeat;
    background-size: cover;
}

.icon16.search {
    /*background-position: -64px -48px;*/
    background: url("../img/icons/small/search.png") no-repeat;
    background-size: cover;
}

.icon16.specimen.review {
    /*background-position: -64px -64px;*/
    background: url("../img/icons/small/specimen.review.png") no-repeat;
    background-size: cover;
}

.icon16.add_to_order {
    /*background-position: -64px -80px;*/
    background: url("../img/icons/small/add_to_order.png") no-repeat;
    background-size: cover;
}

.icon16.participant {
    /*background-position: -64px -96px;*/
    background: url("../img/icons/small/participant.png") no-repeat;
    background-size: cover;
}

.icon16.participants {
    /*background-position: -64px -96px;*/
    background: url("../img/icons/small/participants.png") no-repeat;
    background-size: cover;
}

.icon16.add {
    /*background-position: -64px -112px;*/
    background: url("../img/icons/small/add.png") no-repeat;
    background-size: cover;
}

.icon16.aliquot.review {
    /*background-position: -64px -128px;*/
    background: url("../img/icons/small/aliquot.review.png") no-repeat;
    background-size: cover;
}

.icon16.remove_from_shipment {
    /*background-position: -64px -144px;*/
    background: url("../img/icons/small/remove_from_shipment.png") no-repeat;
    background-size: cover;
}

.icon16.add_collection {
    /*background-position: -64px -160px;*/
    background: url("../img/icons/small/add_collection.png") no-repeat;
    background-size: cover;
}




/*80*/
.icon16.news {
    /*background-position: -80px 0;*/
    background: url("../img/icons/small/news.png") no-repeat;
    background-size: cover;
}

.icon16.popup {
    /*background-position: -80px 0;*/
    background: url("../img/icons/small/popup.png") no-repeat;
    background-size: cover;
}

.icon16.identification {
    /*background-position: -80px -16px;*/
    background: url("../img/icons/small/identification.png") no-repeat;
    background-size: cover;
}

.icon16.users {
    /*background-position: -80px -32px;*/
    background: url("../img/icons/small/users.png") no-repeat;
    background-size: cover;
}

.icon16.list {
    /*background-position: -80px -48px;*/
    background: url("../img/icons/small/list.png") no-repeat;
    background-size: cover;
}

.icon16.csv_upload {
    /*background-position: -80px -64px;*/
    background: url("../img/icons/small/csv_upload.png") no-repeat;
    background-size: cover;
    display: inline-block;
    margin-right: 10px;
}

.icon16.diagnosis {
    /*background-position: -80px -80px;*/
    background: url("../img/icons/small/diagnosis.png") no-repeat;
    background-size: cover;
}

.icon16.aliquot {
    /*background-position: -80px -96px;*/
    background: url("../img/icons/small/aliquot.png") no-repeat;
    background-size: cover;
}

.icon16.aliquots {
    /*background-position: -80px -96px;*/
    background: url("../img/icons/small/aliquots.png") no-repeat;
    background-size: cover;
}

.icon16.collection {
    /*background-position: -80px -112px;*/
    background: url("../img/icons/small/collection.png") no-repeat;
    background-size: cover;
}

.icon16.collections {
    /*background-position: -80px -112px;*/
    background: url("../img/icons/small/collections.png") no-repeat;
    background-size: cover;
}

.icon16.order.items {
    /*background-position: -80px -128px;*/
    background: url("../img/icons/small/order.items.png") no-repeat;
    background-size: cover;
}

.icon16.remove_from_order {
    /*background-position: -80px -144px;*/
    background: url("../img/icons/small/remove_from_order.png") no-repeat;
    background-size: cover;
}

.icon16.add_collection_protocol {
    /*background-position: -80px -160px;*/
    background: url("../img/icons/small/add_collection_protocol.png") no-repeat;
    background-size: cover;
}



/*96*/
.icon16.flask {
    /*background-position: -96px 0;*/
    background: url("../img/icons/small/flask.png") no-repeat;
    background-size: cover;
}

.icon16.sample {
    /*background-position: -96px 0;*/
    background: url("../img/icons/small/sample.png") no-repeat;
    background-size: cover;
}

.icon16.samples {
    /*background-position: -96px 0;*/
    background: url("../img/icons/small/samples.png") no-repeat;
    background-size: cover;
}

.icon16.thumbsup {
    /*background-position: -96px -16px;*/
    background: url("../img/icons/small/thumbsup.png") no-repeat;
    background-size: cover;
}

.icon16.thumbsdown {
    /*background-position: -96px -32px;*/
    background: url("../img/icons/small/thumbsdown.png") no-repeat;
    background-size: cover;
}

.icon16.specific {
    /*background-position: -96px -48px;*/
    background: url("../img/icons/small/specific.png") no-repeat;
    background-size: cover;
}

.icon16.lab_book {
    /*background-position: -96px -64px;*/
    background: url("../img/icons/small/lab_book.png") no-repeat;
    background-size: cover;
}

.icon16.consents {
    /*background-position: -96px -80px;*/
    background: url("../img/icons/small/consents.png") no-repeat;
    background-size: cover;
}

.icon16.use{
    /*background-position: -96px -96px;*/
    background: url("../img/icons/small/use.png") no-repeat;
    background-size: cover;
}

.icon16.aliquot.uses {
    /*background-position: -96px -96px;*/
    background: url("../img/icons/small/aliquot.uses.png") no-repeat;
    background-size: cover;
}

.icon16.help {
    /*background-position: -96px -112px;*/
    background: url("../img/icons/small/help.png") no-repeat;
    background-size: cover;
}

.icon16.study {
    /*background-position: -96px -128px;*/
    background: url("../img/icons/small/study.png") no-repeat;
    background-size: cover;
}

.icon16.add_storage {
    /*background-position: -96px -144px;*/
    background: url("../img/icons/small/add_storage.png") no-repeat;
    background-size: cover;
}

.icon16.reports {
    /*background-position: -96px -160px*/
    background: url("../img/icons/small/reports.png") no-repeat;
    background-size: cover;
}



/*112*/
.icon16.family {
    /*background-position: -112px 0;*/
    background: url("../img/icons/small/family.png") no-repeat;
    background-size: cover;
}

.icon16.delete_mini {
    /*background-position: -112px -16px;*/
    background: url("../img/icons/small/delete_mini.png") no-repeat;
    background-size: cover;
}

.icon16.add_mini {
    /*background-position: -112px -32px;*/
    background: url("../img/icons/small/add_mini.png") no-repeat;
    background-size: cover;
}

.icon16.barcode {
    /*background-position: -112px -48px;*/
    background: url("../img/icons/small/barcode.png") no-repeat;
    background-size: cover;
}

.icon16.participant.contacts {
    /*background-position: -112px -64px;*/
    background: url("../img/icons/small/participant.contacts.png") no-repeat;
    background-size: cover;
}

.icon16.reproductive {
    /*background-position: -112px -80px;*/
    background: url("../img/icons/small/reproductive.png") no-repeat;
    background-size: cover;
}

.icon16.batchset {
    /*background-position: -112px -96px;*/
    background: url("../img/icons/small/batchset.png") no-repeat;
    background-size: cover;
}

.icon16.no_filter {
    /*background-position: -112px -112px;*/
    background: url("../img/icons/small/no_filter.png") no-repeat;
    background-size: cover;
}

.icon16.tma.block {
    /*background-position: -112px -128px;*/
    background: url("../img/icons/small/tma.block.png") no-repeat;
    background-size: cover;
}

.icon16.tma.blocks {
    /*background-position: -112px -128px;*/
    background: url("../img/icons/small/tma.blocks.png") no-repeat;
    background-size: cover;
}

.icon16.add_tma_block {
    /*background-position: -112px -144px;*/
    background: url("../img/icons/small/add_tma_block.png") no-repeat;
    background-size: cover;
}


/*Other 16*/
.icon16.blank {
    background-position: 16px 16px;
}

a.icon16.search {
        text-decoration: none;
        color: #000;
}


/* -=toolbox*/
.icon32.login {
    /*background-position: -32px 0;*/
    background: url("../img/icons/big/login.png") no-repeat;
    background-size: cover;
}

.icon32.home {
    /*background-position: 0 -160px;*/
    background: url("../img/icons/big/home.png") no-repeat;
    background-size: cover;
}

.icon32.customize {
    /*background-position: -32px -128px;*/
    background: url("../img/icons/big/customize.png") no-repeat;
    background-size: cover;
}

.icon32.logout {
    /*background-position: -32px -224px;*/
    background: url("../img/icons/big/logout.png") no-repeat;
    background-size: cover;
}

.icon32.clinicalannotation {
    /*background-position: -32px -64px;*/
    background: url("../img/icons/big/clinicalannotation.png") no-repeat;
    background-size: cover;
}

.icon32.clinicalannotation.miscidentifiers {
/*    background-position: -96px -96px;*/
    background: url("../img/icons/big/clinicalannotation.miscidentifiers.png") no-repeat;
    background-size: cover;
}

.icon32.clinicalannotation.participants.add {
    /*background-position: -96px -32px;*/
    background: url("../img/icons/big/clinicalannotation.participants.add.png") no-repeat;
    background-size: cover;
}

.icon32.clinicalannotation.participantmessages {
    /*background-position: -96px -128px;*/
    background: url("../img/icons/big/clinicalannotation.participantmessages.png") no-repeat;
    background-size: cover;
}

.icon32.inventorymanagement {
    /*background-position: -64px -256px;*/
    background: url("../img/icons/big/inventorymanagement.png") no-repeat;
    background-size: cover;
}

.icon32.inventorymanagement.collections.add {
    /*background-position: -96px -160px;*/
    background: url("../img/icons/big/inventorymanagement.collections.add.png") no-repeat;
    background-size: cover;
}

.icon32.inventorymanagement.samplemasters {
    /*background-position: -96px -192px;*/
    background: url("../img/icons/big/inventorymanagement.samplemasters.png") no-repeat;
    background-size: cover;
}

.icon32.inventorymanagement.aliquotmasters {
    /*background-position: -96px -224px;*/
    background: url("../img/icons/big/inventorymanagement.aliquotmasters.png") no-repeat;
    background-size: cover;
}

.icon32.datamart {
    /*background-position: 0px -192px;*/
    background: url("../img/icons/big/datamart.png") no-repeat;
    background-size: cover;
}

.icon32.tools {
    /*background-position: -32px -256px;*/
    background: url("../img/icons/big/tools.png") no-repeat;
    background-size: cover;
}

.icon32.administrate {
    /*background-position: -64px -64px;*/
    background: url("../img/icons/big/administrate.png") no-repeat;
    background-size: cover;
}

.icon32.drug {
    /*background-position: -64px -192px;*/
    background: url("../img/icons/big/drug.png") no-repeat;
    background-size: cover;
}

.icon32.rtbform {
    /*background-position: -32px -96px;*/
    background: url("../img/icons/big/rtbform.png") no-repeat;
    background-size: cover;
}

.icon32.order {
    /*background-position: 0 -64px;*/
    background: url("../img/icons/big/order.png") no-repeat;
    background-size: cover;
}

.icon32.protocol {
    /*background-position: 0 -96px;*/
    background: url("../img/icons/big/protocol.png") no-repeat;
    background-size: cover;
}

.icon32.material {
    /*background-position: -64px -224px;*/
    background: url("../img/icons/big/material.png") no-repeat;
    background-size: cover;
}

.icon32.sop {
    /*background-position: -64px -128px;*/
    background: url("../img/icons/big/sop.png") no-repeat;
    background-size: cover;
}

.icon32.storagelayout {
    /*background-position: -32px -192px;*/
    background: url("../img/icons/big/storagelayout.png") no-repeat;
    background-size: cover;
}

.icon32.study {
    /*background-position: 0 -224px;*/
    background: url("../img/icons/big/study.png") no-repeat;
    background-size: cover;
}

.icon32.pricing {
    /*background-position: 0 -128px;*/
    background: url("../img/icons/big/pricing.png") no-repeat;
    background-size: cover;
}

.icon32.provider {
    /*background-position: -96px 0*/
    background: url("../img/icons/big/provider.png") no-repeat;
    background-size: cover;
}

.icon32.not_allowed {
    /*background-position: 0 -256px*/
    background: url("../img/icons/big/not_allowed.png") no-repeat;
    background-size: cover;
}

.icon32.labbook {
    /*background-position: -64px -32px*/
    background: url("../img/icons/big/labbook.png") no-repeat;
    background-size: cover;
}

.icon32.default {
    /*background-position: 0 0*/
    background: url("../img/icons/big/default.png") no-repeat;
    background-size: cover;
}

.icon32.browser {
    /*background-position: -32px -32px*/
    background: url("../img/icons/big/browser.png") no-repeat;
    background-size: cover;
}

.icon32.reports {
    /*background-position: -32px -160px*/
    background: url("../img/icons/big/reports.png") no-repeat;
    background-size: cover;
}

.icon32.batchsets {
    /*background-position: -64px 0*/
    background: url("../img/icons/big/batchsets.png") no-repeat;
    background-size: cover;
}

.icon32.template {
    /*background-position: 0 -32px*/
    background: url("../img/icons/big/template.png") no-repeat;
    background-size: cover;
}

.icon32.help {
    /*background-position: -64px -96px*/
    background: url("../img/icons/big/help.png") no-repeat;
    background-size: cover;
}

.icon32.en {
    background: url("../img/icons/big/en.png") no-repeat;
    background-size: cover;
}

.icon32.fr {
    background: url("../img/icons/big/fr.png") no-repeat;
    background-size: cover;
}

td.id a, td.id a:hover, table.tree ul a, table.tree ul a {
	text-decoration: none;
	padding-right: 0;
	margin-right: 0;
}

td.id a.not_allowed {
	display: inline-table;
	text-indent: -1000px;
	color: red;
}

div.wrapper table.structure table.columns.tree ul ul {
	margin-top: 5px;
	margin-left: 16px;
	margin-bottom: 5px;
	border: 3px solid #cacdf2;
	border-right: none;
}

div.wrapper table.structure table.extra td {
	border: none;
	padding: 0;
}

div.wrapper table.structure table.extra td table td {
	padding: 0.5em 1em;
	border-top: 1px solid #eaedf2;
}

div.wrapper div#frame {
	padding: 0 0 5px 10px;
	margin-bottom: 10px;
}

#frame table.structure {
	border: 0;
	padding: 0;
}

#frame div.actions {
	/*tabs*/
	position: relative;
	background: none;
	padding: 5px 0 0 20px;
	margin: 2px;
	border: none;
	border-top: 3px solid #486680;
}

div.wrapper table.structure table.columns tr.pagination th {
	font-weight: normal;
	font-size: 11px;
	color: #5081a5;
	text-align: center;
	border-top: 3px solid #eaedf2;
	border-bottom: none;
}

div.wrapper table.structure table.columns tr.pagination div {
	background: none;
	display: inline;
}

div.wrapper table.structure table.columns tr.pagination span.results {
	float: left;
	padding-left: 1em;
}

div.wrapper table.structure table.columns tr.pagination span.links {
	float: right;
	padding-right: 1em;
}

.pagination span.current {
	text-decoration: underline;
}

div.wrapper table.structure table.columns td.no_data_available {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	font-style: italic;
	color: #888888;
}

div.wrapper table.structure table.columns td a.not_allowed {
	color: #dde8f2;
}

div.validation {
	background-color: #fff;
	border: none;
	padding-top: 10px;
}

div.validationWrapper {
	margin: 0 10px;
	border-right: 1px solid #243340;
	border-left: 1px solid #243340;
}

div.extra div.validation {
	margin: 0 -10px 10px -10px;
	border: none;
}

ul.error li, ul.warning li, ul.confirm li, ul.info li {
	padding: 2px 5px;
	border-radius: 5px;
	border-width: 3px;
	border-style: solid;
}

ul.error {
	background-image: url(../img/icons/other/error_bg.gif);
	background: -webkit-linear-gradient(135deg, #f3dbdb 25%, #f7e8e8 25%, #f7e8e8 50%,
		#f3dbdb 50%, #f3dbdb 75%, #f7e8e8 75%);
	background: -moz-linear-gradient(135deg, #f3dbdb 25%, #f7e8e8 25%, #f7e8e8 50%,
		#f3dbdb 50%, #f3dbdb 75%, #f7e8e8 75%);
	background: -o-linear-gradient(135deg, #f3dbdb 25%, #f7e8e8 25%, #f7e8e8 50%,
		#f3dbdb 50%, #f3dbdb 75%, #f7e8e8 75%);
	background-size: 20px 20px;
}

ul.error li {
	border-color: #933;
}

ul.confirm {
	/* ie loads the gif, others produce the gradient) */
	background-image: url(../img/icons/other/confirm_bg.gif);
	background: -webkit-linear-gradient(135deg, #d7f0d5 25%, #e7f6e5 25%, #e7f6e5 50%,
		#d7f0d5 50%, #d7f0d5 75%, #e7f6e5 75%);
	background: -moz-linear-gradient(135deg, #d7f0d5 25%, #e7f6e5 25%, #e7f6e5 50%,
		#d7f0d5 50%, #d7f0d5 75%, #e7f6e5 75%);
	background: -o-linear-gradient(135deg, #d7f0d5 25%, #e7f6e5 25%, #e7f6e5 50%,
		#d7f0d5 50%, #d7f0d5 75%, #e7f6e5 75%);
	background-size: 20px 20px;
}

ul.confirm li {
	border-color: #393;
}

ul.warning {
	background-image: url(../img/icons/other/warning_bg.gif);
	background: -webkit-linear-gradient(135deg, #ffea5e 25%, #fff29c 25%, #fff29c 50%,
		#ffea5e 50%, #ffea5e 75%, #fff29c 75%);
	background: -moz-linear-gradient(135deg, #ffea5e 25%, #fff29c 25%, #fff29c 50%,
		#ffea5e 50%, #ffea5e 75%, #fff29c 75%);
	background: -o-linear-gradient(135deg, #ffea5e 25%, #fff29c 25%, #fff29c 50%,
		#ffea5e 50%, #ffea5e 75%, #fff29c 75%);
	background-size: 20px 20px;
}

ul.warning li {
	border-color: #EB0;
}

ul.info {
	background-image: url(../img/icons/other/info_bg.gif);
	background: -webkit-linear-gradient(135deg, #bfdcff 25%, #deedff 25%, #deedff 50%,
		#bfdcff 50%, #bfdcff 75%, #deedff 75%);
	background: -moz-linear-gradient(135deg, #bfdcff 25%, #deedff 25%, #deedff 50%,
		#bfdcff 50%, #bfdcff 75%, #deedff 75%);
	background: -o-linear-gradient(135deg, #bfdcff 25%, #deedff 25%, #deedff 50%,
		#bfdcff 50%, #bfdcff 75%, #deedff 75%);
	background-size: 20px 20px;
}

#authMessage{
    padding: 2px 5px;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;

    border-color: #933;
    background-image: url(../img/icons/other/error_bg.gif);
    background: -webkit-linear-gradient(135deg, #f3dbdb 25%, #f7e8e8 25%, #f7e8e8 50%,
            #f3dbdb 50%, #f3dbdb 75%, #f7e8e8 75%);
    background: -moz-linear-gradient(135deg, #f3dbdb 25%, #f7e8e8 25%, #f7e8e8 50%,
            #f3dbdb 50%, #f3dbdb 75%, #f7e8e8 75%);
    background: -o-linear-gradient(135deg, #f3dbdb 25%, #f7e8e8 25%, #f7e8e8 50%,
            #f3dbdb 50%, #f3dbdb 75%, #f7e8e8 75%);
    background-size: 20px 20px;
   
}

ul.info li {
	border-color: #719cd0;
}

div#footer {
	margin: 20px 0 0 0;
	padding: 10px 30px 100px 30px;
	border: 0;
	background: #fff url(../img/icons/other/footer_bk01.png) top left repeat-x;
	font-size: 11px;
	color: #889;
	text-align: center;
}

div#footer a {
	color: #889;
	text-decoration: none;
}

div#footer a:hover {
	color: #333;
	text-decoration: underline;
}

/* -=cake-debug */
.cake-debug {
	border: 1px solid #bc000a;
	background-color: #fff;
	padding: 0.75em;
	font-size: 1.1em;
	color: #333;
}

/* -=cake-sql-log table */

/* this is the CAKEPHP DEBUG table that appears at the bottom of every view when enabled */
table.cake-sql-log {
	clear: both;
	margin: 3em auto;
	width: 70%;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	font-family: courier, serif;
}

table.cake-sql-log caption {
	font: normal 2em/3em Andale, Courier, monospace;
	color: #666;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

table.cake-sql-log td, table.cake-sql-log th {
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding: 1em;
	font: 11px/14px helvetica, arial, sans-serif;
}

table.cake-sql-log th {
	vertical-align: bottom;
	font-weight: bold;
}

.button {
	background: url(../img/icons/other/btnBack.png);
	border-radius: 5px;
	border-color: #999999;
	border-style: solid;
	border-width: 1px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
	display: inline-block;
	cursor: pointer;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 12px;
	color: #000;
	padding: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#dfe9f3)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #fff, #dfe9f3);
}

.button.large {
	line-height: 22px;
}

.button.small {
	height: 3px;
	width: 3px;
	margin: 0px 2px 0px 2px;
}

.button.small .ui-icon {
	margin: -7px;
}

.button:hover, .button:focus {
	background: url(../img/icons/other/btnBackSel.png);
	border-color: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#bacdde)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #fff, #bacdde);
}

.button .ui-icon {
	float: left;
	margin-top: -3px
}

div.loading {
	text-align: center;
	line-height: 60px;
	background: #FFF url("../img/icons/other/wait30.gif") no-repeat center;
	border-width: 1px;
	min-width: 300px;
	min-height: 40px;
}

/** CakePHP auto complete **/
div.auto_complete {
	position: absolute;
	width: 250px;
	background-color: white;
	border: 1px solid #888;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

li.selected {
	background-color: #ffb;
}
/** end of CakePHP auto complete **/

/*===========================================================*
        -=flash
*===========================================================*/
body.flash {
	background: rgb(72, 102, 128);
	background: -webkit-gradient(linear, left top, right top, from(#486880),
		color-stop(50%, #aaf), to(#486880)); /* for webkit browsers */
	background: -moz-linear-gradient(left, #486880, #aaf, #486880);
}

body.flash div.wrapper {
	width: 600px;
	margin: 3em auto;
}

body.flash div.wrapper a {
	display: block;
	text-align: center;
	color: #fff;
	font: 2em/1.2em Arial Black, Arial Bold, Impact, sans-serif;
	text-decoration: none;
}

body.flash div.wrapper a:hover {
	text-decoration: underline;
}

body.flash table caption {
	color: #FFF;
}

a.form:focus {
	text-decoration: underline;
}

.datepicker {
	
}

img.fake_datepicker {
	position: absolute;
	left: -1px;
	top: -1px;
	z-index: 1;
	cursor: pointer;
}

tr.highlight, td.highlight {
	background: url("../img/icons/other/highlight.gif");
}

.untranslated {
	background-color: red;
	color: black;
}

span.tooltip {
	position: relative;
}

span.tooltip div {
	display: none;
	border-style: solid;
	position: absolute;
	left: 0px;
	top: 15px;
	padding: 30px;
	border-width: 1px;
	z-index: 1;
	background-color: #FFFFFF;
	/* note that some styling is made through js to counter some css hierarchy issues*/
}

.databrowser {
	border-style: solid;
	border-collapse: collapse;
	line-height: 20px;
}

div.wrapper table.structure td .databrowser td, div.table div {
	border-style: solid;
	border-width: 0px;
	width: 20px;
	height: 20px;
	text-align: center;
	padding: 0px;
}

div.wrapper table.structure td .databrowser td .info td {
	width: auto;
}

.databrowser img {
	margin: 0px;
}

/* standard painting */
.databrowser td {
	background: url(../img/dataBrowser/frame.png) no-repeat 200px 200px;
}

.databrowser td.h-line {
	background-position: -7px 0;
}

.databrowser td.v-line {
	background-position: -7px -20px;
}

.databrowser td.corner {
	background-position: -7px -40px;
}

.databrowser td.arrow {
	background-position: -7px -60px;
}

.databrowser td.node {
	background-position: -7px -100px;
}

/* active painting */
.databrowser td.h-line.active, .databrowser tr:nth-child(1) td:nth-child(1)
	{
	background-position: -127px 0;
}

.databrowser td.v-line.active {
	background-position: -127px -20px;
}

.databrowser td.corner.active {
	background-position: -127px -40px;
}

.databrowser td.arrow.active_straight {
	background-position: -127px -60px;
}

.databrowser td.arrow.active {
	background-position: -127px -80px;
}

.databrowser td.node.active {
	background-position: -127px -100px;
}

/* standard merged painting */
.databrowser td.h-line.merged {
	background-position: -47px 0;
}

.databrowser td.v-line.merged {
	background-position: -47px -20px;
}

.databrowser td.corner.merged {
	background-position: -47px -40px;
}

.databrowser td.arrow.merged_straight {
	background-position: -47px -60px;
}

.databrowser td.arrow.merged {
	background-position: -47px -80px;
}

.databrowser td.node.merged {
	background-position: -47px -100px;
}

/* active merged painting */
.databrowser td.h-line.active.merged {
	background-position: -87px 0;
}

.databrowser td.v-line.active.merged {
	background-position: -87px -20px;
}

.databrowser td.arrow.active_straight.merged {
	background-position: -87px -60px;
}

.databrowser td.arrow.active.merged {
	background-position: -87px -80px;
}

.databrowser td.node.active.merged {
	background-position: -87px -100px;
}

.databrowser td.corner.active.merged {
	background-position: -87px -40px;
}

.databrowser td div.container {
	position: relative;
	width: 26px;
	height: 20px;
}

.databrowser div.controls, .databrowser div.content {
	display: inline-block;
}

.databrowser div.left div.controls {
	top: 5px;
	right: 5px;
	position: absolute;
}

.databrowser div.right div.controls {
	top: 5px;
	left: 5px;
	position: absolute;
}

ul.actionDropdown a.disabled {
	font-style: italic;
	color: grey;
}

ul.actionDropdown a, ul.actionDropdown li:hover a {
	background-position: left center;
	background-repeat: no-repeat;
	text-indent: 14px;
}

ul.actionDropdown li a {
	padding-left: 20px;
	background-position: left center;
	background-repeat: no-repeat;
}

.databrowser div.info {
	position: absolute;
	background-color: #374D61;
	color: #CCCCDD;
	width: 300px;
	height: auto;
	top: 15px;
	display: none;
	padding: 5px;
	z-index: 1;
	text-align: center;
}

.databrowser div.info.left {
	right: 15px;
	border-radius: 10px 0 10px 10px;
}

.databrowser div.info.right {
	left: 15px;
	border-radius: 0 10px 10px 10px;
}

.databrowser td:hover div.info {
	display: block;
}

.databrowser span.title {
	font-size: 130%;
	padding-left: 20px;
}

.databrowser a.link {
	text-decoration: none;
}

.std_popup {
	background: transparent url(jQuery/popup/img/dark.png);
	border-radius: 0 0 5px 5px;
	padding: 5px;
	display: none;
}

table:not(.index) table.columns.index tbody tr td{
	white-space: nowrap;
        /*word-wrap: break-word!important;*/
}

table.index table.columns.index tbody tr td:first-child {
	white-space: nowrap;
        /*word-wrap: break-word!important;*/
}

table.index tr td:first-child {
	/* gives minimal width to rows first cell in index tables */
	width: 1px;
}

input.datepicker[type=button] {
	width: 16px;
	height: 16px;
	border-style: none;
	color: #fff;
	background: url("../img/icons/other/cal.gif") no-repeat;
	cursor: pointer;
	display: inline-block;
	position: relative;
}

.popup_container div.frame {
	max-height: 500px;
	overflow: auto;
}

.popup_container {
	text-align: center;
}

.tool_popup {
/*	background-image: url(../img/icons/Preview_16x16.png);
	padding-left: 14px;*/
    background-image: url(../img/icons/Preview_16x16.png);
    padding-left: 6px;
    background-position-x: right;
    background-position-y: bottom;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

table.browserBubble th {
	white-space: nowrap;
	vertical-align: middle;
}

table.browserBubble th, table.browserBubble td {
	padding: 0 10px;
}

span.button a {
	text-decoration: none;
	color: #000;
}

.nowrap {
	white-space: nowrap;
}

.storageLayout td {
	border-style: solid;
	border-width: 1px;
	min-width: 50px;
	border-color: #000;
	padding: 0 0 5px 0;
}

.storageLayout td ul {
	min-height: 25px;
}

div.extra {
	background-color: #FFF;
	padding: 5px 11px;
}

.center {
	text-align: center;
}

span.incompleteMenuTitle {
	cursor: help;
}

.red {
	color: red;
}

small {
	font-size: 65%;
}

.box20x20 {
	display: inline-block;
	left: 0px;
	width: 20px;
	height: 20px;
}

.labBook {
	display: none;
}

div.pasteDisabledBefore {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/icons/Paste_Disabled_16x16.png) no-repeat left top;
}
div.pasteDisabled {
	display: inline-block;
	width: 16px;
	height: 16px;
}

tbody.disabled {
	background: grey;
}

tr.draggableRow:hover {
	background-color: #ffa;
}

tr.draggedRow {
	background-color: #ff0;
}

div.accuracy_target_blue {
	position: relative;
	top: 4px;
	display: inline-block;
	width: 20px;
	height: 20px;
	border: none;
	background: url(../img/icons/target_blue_20x20.gif) no-repeat;
	cursor: pointer;
}

a.btn_add_or {
	margin-right: 15px;
	margin-left: -5px;
}

.icon32 {
	display: inline-block;
	height: 32px;
	width: 32px;
	vertical-align: middle;
	background: url("../img/icons/32x32.png") no-repeat;
	vertical-align: middle;
}

.icon16 {
	display: inline-block;
	height: 16px;
	width: 16px;
	vertical-align: middle;
	background: url("../img/icons/16x16.png") no-repeat;
}

.bottom_button span.icon16 {
	margin-right: 5px;
}

.bottom_button_load span.icon16 {
	margin-right: 5px;
}

.menuLabel {
	display: inline-block;
	padding-left: 5px;
	vertical-align: middle;
}

li.sub_menu {
	margin: 0 4px;
}

.mr5px {
	margin-right: 5px;
}

/* DRAG AND DROP SECTION */
.dragme {
	list-style-type: none;
	clear: both;
}

.mycell {
	padding: 5px;
}

.dragme {
	margin: 1px;
	padding: 2px;
	border-radius: 3px;
	cursor: move;
	background-color: #ddd;
	background: -webkit-gradient(linear, left top, left bottom, from(#ddd),
		color-stop(50%, #eee), to(#bbb)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #ddd, #eee, #bbb);
}

.warning-aliquot{
	background: -webkit-gradient(linear, left top, left bottom, from(#fd0),
		color-stop(50%, #fe0), to(#fb0)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #fd0, #fe0, #fb0);
}

.error-aliquot{
	background: -webkit-gradient(linear, left top, left bottom, from(#d00),
		color-stop(50%, #e00), to(#b00)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #d00, #e00, #b00);
}

.new-aliquot{
	background: -webkit-gradient(linear, left top, left bottom, from(#0d0),
		color-stop(50%, #0e0), to(#0b0)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #0d0, #0e0, #0b0);
}

.just-added{
    border-style: dashed;
    border-color: white;
    border-width: thin;
}

ul.trash_n_unclass {
	margin-left: 10px;
}

li.trash_n_unclass {
	margin: 0 5px 5px 5px;
}

h4.ui-widget-header {
	height: 20px;
	line-height: 20px;
	font-size: 130%;
}

span.help.storage {
	display: inline-block;
	height: 16px;
	width: 16px;
	float: right;
	margin: 2px;
}

.dragme .icon16 {
	vertical-align: baseline;
}

/* END OF DRAG AND DROP SECTION */
#hiddenImages {
	position: absolute;
	top: -100px;
}

table.columns.index tbody tr:nth-child(even), div.indexLangHeader {
	background-color: #f3f3f3;
}

table.structure.lineHighlight table.columns.index tbody tr:hover, table.structure.lineHighlight table.columns.index tbody tr:hover div.floatingCell
{
	background-color: #ffc;
}

table.structure.lineHighlight table.columns.index tbody tr, table.structure.lineHighlight table.columns.index tbody tr
{
    -webkit-transition: background 0.3s linear;    
    transition: background 0.3s linear;    
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
}

tr.chkLine, table.columns.index tbody tr.chkLine:nth-child(even) {
	background-color: #ff9;
}

.jqMenuButton {
	display: inline-block;
	border: solid black 1px;
	padding: 5px;
	position: relative;
	cursor: pointer;
}

.jqMenuContent {
	position: absolute;
	background: white;
	border: solid black 1px;
	top: 20px;
	left: -1px;
	display: none;
	z-index: 1;
}

.jqMenuBack {
	min-height: 20px;
	display: none;
	padding: 5px 0 0 5px;
	cursor: pointer;
}

.jqMenuScroll {
	overflow: scroll;
	overflow-x: hidden;
	height: 300px;
	width: 200px;
}

.jqMenuScroll ul {
	display: none;
}

.jqMenuInput {
	width: 0px;
	height: 1px; /* if 0, does not work */
	position: absolute;
	left: -9000px;
}

.jqMenuScroll ul li {
	margin-top: 4px;
	border: solid transparent 1px;
	cursor: pointer;
	padding: 3px;
}

.selectableNode.selected {
	opacity: 1;
}

.selectableNode {
	opacity: 0.45;
}

@media print {
	.prHide, .root_menu_for_header, .main_menu_for_header, div.actions, span.icon16.help,
		div.submitBar {
		display: none;
	}
	table {
		page-break-inside: auto
	}
	tr {
		page-break-inside: avoid;
		page-break-after: auto
	}
	thead {
		display: table-header-group
	}
	tfoot {
		display: table-footer-group
	}
}

.floatingBckGrnd {
	background-color: white;
	position: absolute;
	z-index: 1;
        opacity: 0;
}

.floatingBckGrnd .left {
	height: 100%;
	background-color: white;
	opacity: 0;
	position: relative;
	right: 15px; /* table structure left margin */
	width: 15px; /* table structure left margin */
}

.floatingBckGrnd .right {
	width: 1px;
	height: 100%;
	float: right;
}

.floatingBckGrnd .right div {
	width: 6px;
	height: 100%;
	right: -6px;
	background: -webkit-gradient(linear, left top, right top, from(#555),
		to(#ddd)); /* for webkit browsers */
	background: -moz-linear-gradient(left, #555, #ddd);
	opacity: 0;
}

div.floatingCell {
	z-index: 2;
}

select {
    max-width: 250px;
}

div.descriptive_heading:not(:first-child){
    margin-top:20px;
}
.testScroll, .floatingCells {
	z-index: 1;
	position: relative;
}

input[type=number] {
	width: 6em;
}

input[type=number].year {
	width: 4em;
}

input[type=number].month, input[type=number].day {
	width: 3em;
}

.debugkit_structure_table {
	border-collapse: collapse !important;
}

.debugkit_structure_table td {
	border-style: solid !important;
	color: black !important;
	border-width: 1px !important;
	border-color: black !important;
}

.debugkit_structure_table th {
	border-style: solid !important;
	color: black !important;
	border-width: 1px !important;
	border-color: black !important;
	text-align: center !important;
}

p.wraped-text{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    max-width: 20rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

div#default_popup{
    margin: auto;
    position: relative;
}

.debug-button {
  background: #7d8c96;
  background-image: -webkit-linear-gradient(top, #7d8c96, #c6cdd1);
  background-image: -moz-linear-gradient(top, #7d8c96, #c6cdd1);
  background-image: -ms-linear-gradient(top, #7d8c96, #c6cdd1);
  background-image: -o-linear-gradient(top, #7d8c96, #c6cdd1);
  background-image: linear-gradient(to bottom, #7d8c96, #c6cdd1);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding-right: 6px;
  padding-left: 6px;
  text-decoration: none;
}

.debug-button:hover {
  background: #ababab;
  background-image: -webkit-linear-gradient(top, #ababab, #474747);
  background-image: -moz-linear-gradient(top, #ababab, #474747);
  background-image: -ms-linear-gradient(top, #ababab, #474747);
  background-image: -o-linear-gradient(top, #ababab, #474747);
  background-image: linear-gradient(to bottom, #ababab, #474747);
  text-decoration: none;
}

.cake-debug{
    border-style: none;
}

.cake-debug-output{
    border: 1px solid #474747;
    background-color: #fff;
    padding: 0.37em;
    margin: 0.37em;
    font-size: 1.1em;
    color: #333;
}

.specific_btn{
    margin-right: 10px;
    margin-left: 10px;
}

.highLightDuplicatedItem{
    /*background-color:rgb(147, 242, 159)!important; */
    -webkit-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

.notHighLightDuplicatedItem{
    -webkit-transition: background-color 3s linear 0s!important;
    transition: background-color 3s linear 0s!important;
}

.debug-kit-log-file-span{
    display: block;
    font-size: 10px;
}

.chart1{
    width: 1000px;
    height: auto;
    background-color: white;
}

.chart1 svg{
    width: 100%;
    height: 100%;
}

.pop-up-csv-barcode{
    background-color: white;
    /*padding: 10px;*/
}

.pop-up-csv-barcode h2{
    text-align: left;
}

.no-border{
    border: none!important;
    text-align: left;
}

div.plugin_StorageLayout.controller_StorageMasters.action_storageLayout .trash_n_unclass li{
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.display-none{
    display: none;
}

span.template-label{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    /*max-width: 20rem;*/
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

span.template-label>div{
    margin-left: 0px!important;
}

.ATiM-debug-hook-table{
	border-style: solid;
	border-width: 2px;
	border-collapse: collapse;
	margin: 10px;
}

.ATiM-debug-hook-table td, .ATiM-debug-hook-table th{
	border-style: solid;
	border-width: 1px;
	padding: 5px 10px;
	font-size: 11pt;
}

.ATiM-debug-hook-table td:nth-child(2), .ATiM-debug-hook-table th{
	text-align: center;
}

.span-file-upload-filename{
	display: inline-block;
	margin-left: 5px;
	cursor: default;
}

.div-upload-file{
	display: inline-block;
}

.chosen-container.chosen-with-drop.required .chosen-drop
{
	background-color: #ffc;
}

.chosen-container-active.chosen-with-drop.required  .chosen-single{
	background-image: none;
}

.chosen-container-single.required .chosen-single,
.chosen-container-multi.required .chosen-choices
{
	background: -webkit-gradient(linear,left top,left bottom,color-stop(20%,#ffffcc),color-stop(50%,#f6f6c6),color-stop(52%,#eea),to(#f4f4c4));
	background: linear-gradient(#ffffcc 20%,#f6f6c6 50%,#eea 52%,#f4f4c4 100%);
}


.chosen-container.chosen-with-drop.validation .chosen-drop
{
	background-color: #dfd;
}

.chosen-container-active.chosen-with-drop.validation  .chosen-single{
	background-image: none;
}

.chosen-container-single.validation .chosen-single,
.chosen-container-multi.validation .chosen-choices
{
	background: -webkit-gradient(linear,left top,left bottom,color-stop(20%,#ddffdd),color-stop(50%,#d6f6d6),color-stop(52%,#bdb),to(#d4f4d4));
	background: linear-gradient(#ddffdd 20%,#d6f6d6 50%,#bdb 52%,#d4f4d4 100%);
}
.chosen-container-single .chosen-single{
	border-radius: 0px;
}

.chosen-container.chosen-container-multi.atim-multiple-choice.validation{
	padding-top: 0px
}


/*
.chosen-container.error>a>span,
.chosen-container.error>a>div>b,
.chosen-container-single.error .chosen-single,
*/
.chosen-container.chosen-with-drop.error .chosen-drop
{
	background-color: #fcc;
}

.chosen-container-active.chosen-with-drop.error  .chosen-single{
	background-image: none;
}

.chosen-container-single.error .chosen-single,
.chosen-container-multi.error .chosen-choices
{
	background: -webkit-gradient(linear,left top,left bottom,color-stop(20%,#ffcccc),color-stop(50%,#f6c6c6),color-stop(52%,#eaa),to(#f4c4c4));
	background: linear-gradient(#ffcccc 20%,#f6c6c6 50%,#eaa 52%,#f4c4c4 100%);
}
.chosen-container-single .chosen-single{
	border-radius: 0px;
}